<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-aepmobileedge" version="0.0.1">
    <name>CordovaMobileEdgePlugin</name>

    <description>A Android Cordova plugin for AEP Mobile Edge</description>
    <license>Apache 2.0</license>

    <keywords>cordova,android, mobile edge</keywords>
  
    <js-module src="www/AEPMobileEdge.js" name="cordova-aepmobileedge">
        <clobbers target="AEPMobileEdge" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AEPMobileEdge_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.AEPMobileEdge_Cordova"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />

        <source-file src="src/android/AEPMobileEdge_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <framework custom="true" src="src/android/AEPMobileEdge_Cordova.gradle" type="gradleReference" />

    </platform>
</plugin>